/* Herao Section */

.Hero{
position: absolute;
width: 1440px;
height: 432px;
left: 0px;
top: 144px;

background: #495E57;
}

/* Little Lemon */
.Hero h1{
position: absolute;
width: 560px;
height: 72px;
left: 290px;
top: 2px;

/* Display */
font-family: 'Markazi Text';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 77px;

color: #F4CE14;

}

/* Chicago */
.Hero h3{
position: absolute;
width: 107px;
height: 48px;
left: 290px;
top: 86px;

/* Sub Title

Should be close to Display text
*/
font-family: 'Markazi Text';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
/* identical to box height */

color: #FFFFFF;

}

/* We are a family owned Mediterranean restaurant focused on traditional recipes served with a modern twist. */
.Hero p{
position: absolute;
width: 488px;
height: 114px;
left: 299px;
top: 174px;

font-family: 'Karla';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;

}

/* restauranfood 2 */
.Hero img{
position: absolute;
width: 310px;
height: 448px;
left: 840px;
top: 54px;

/* background: url(icons_assets/restauranfood.jpg); */
border-radius: 16px;
}
/* Frame 5 */

.Hero button{
    background: #F4CE14;
border: 1px solid #000000;
border-radius: 16px;
position: absolute;
width: 203px;
height: 53px;
left: 290px;
top: 310px;
font-family: 'Karla';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

}


/* new */
/* greek salad 1 */
.highlights {
    position: absolute;
    width: 1440px;
    height: 776px;
    left: 0px;
    top: 626px;

    background: #FFFFFF;
    margin-top: 149px;
    display: flex;
    justify-content: center;
}

.highlights > article {

  margin: 10px;
  font-size: 30px;
  width: 271px;
  height: 424px;
  background: #EDEFEE;
  border-radius: 24px 24px 0px 0px;

  
}
.highlights article > img{
    width: 271px;
    height: 168px;
    border-radius: 24px 24px 0px 0px;
}

.highlights article > p {
    font-family: 'Karla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
padding-right: 4px;
padding-left: 10px;
}

.highlights article > p.Delivery {
    font-family: 'Karla';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}

.highlights article > p.Dish-name {
    font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;

}
strong{
font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #DF2525;
margin-left: 20px;

}

.Mid{
    margin-left: 40px;

    }
/* Greek Salad */

div > p {
    display: inline-flex;
}
div > button{
    background: #F4CE14;
border: 1px solid #000000;
border-radius: 16px;
width: 203px;
height: 53px;
font-family: 'Karla';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
margin-right: 4px;

}

.Specials{
    display: flex;
    justify-content: space-between;
    width: 860px;
    position: absolute;
/*  width: 158px;
    height: 19px; */
    left: 290px;
    top: 700px;
    font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #000000;
 }

.Specials > p {
    padding-left: 10px;
}

.Specials > button {
    background: #F4CE14;
    border: 1px solid #000000;
    border-radius: 16px;
    width: 203px;
    height: 53px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-right: 4px;
}

/* Testimonials styles */

.Testimonials {
    position: absolute;
width: 1440px;
height: 494px;
left: 0px;
top: 1352px;
background: #D9D9D9;
}

/* Testimonials */

.Testimonials > h2 {
    position: absolute;
    width: 217px;
    height: 44px;
    left: 678px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    color: #000000;
}

.About {
    display: flex;
position: absolute;
width: 1439px;
height: 562px;
left: 1px;
top: 1846px;
align-items: center;

background: #FFFFFF;
}
/* About */
.About div.First {
    width: 358px;
    height: 340px;
    background-color: #495E57;
}

.About div.Second {
    width: 421px;
    height: 447px;
    background-color: gray;
}
/* Little Lemon Chicago */

